# Файлы сборки CMake
/build/
/CMakeFiles/
/CMakeCache.txt
/CTestTestfile.cmake
#/Makefile

# Бинарные файлы и объектные файлы
*.exe
*.out
*.o
*.obj
*.a
*.so
*.dll

# Временные файлы редакторов
*.swp
*.swo
*~

# Системные файлы macOS
.DS_Store

# Файлы IDE и редакторов
.idea/
.vscode/

# Тестовые артефакты
*.gcno
*.gcda
*.gcov
*.profraw
*.profdata

# CLion / JetBrains IDEs кэш
cmake-build-*/

# архивы

# Архивы
*.zip
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
*.7z
*.rar
